<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <div class="v3 ps42 s48 c50">
      <p class="p3"  th:text="${articletitle1}"><span class="f8">
    <a >文章标题</a></span></p>
    </div>
    <div class="v3 ps43 s48 c3">
      <div class="v3 ps4 s49 c51">
        <p class="p1 f9" th:text="${authorname1}">作者</p>
      </div>
    </div>
    <div class="v3 ps10 s10 c40">
      <p class="p2 f1"><a th:href="@{del_article.html/{id}(id=${articleid1})}">删除文章</a></p>
    </div>
</div>
<div>
  <div class="v3 ps42 s48 c50">
    <p class="p3"  th:text="${articletitle2}"><span class="f8">
    <a >文章标题</a></span></p>
  </div>
  <div class="v3 ps43 s48 c3">
    <div class="v3 ps4 s49 c51">
      <p class="p1 f9" th:text="${authorname2}">作者</p>
    </div>
  </div>
  <div class="v3 ps10 s10 c40">
    <p class="p2 f1"><a th:href="@{del_article.html/{id}(id=${articleid2})}">删除文章</a></p>
  </div>
</div>
<div>
  <div class="v3 ps42 s48 c50">
    <p class="p3"  th:text="${articletitle3}"><span class="f8">
    <a >文章标题</a></span></p>
  </div>
  <div class="v3 ps43 s48 c3">
    <div class="v3 ps4 s49 c51">
      <p class="p1 f9" th:text="${authorname3}">作者</p>
    </div>
  </div>
  <div class="v3 ps10 s10 c40">
    <p class="p2 f1"><a th:href="@{del_article.html/{id}(id=${articleid3})}">删除文章</a></p>
  </div>
</div>
<div>
  <div class="v3 ps42 s48 c50">
    <p class="p3"  th:text="${articletitle4}"><span class="f8">
    <a >文章标题</a></span></p>
  </div>
  <div class="v3 ps43 s48 c3">
    <div class="v3 ps4 s49 c51">
      <p class="p1 f9" th:text="${authorname4}">作者</p>
    </div>
  </div>
  <div class="v3 ps10 s10 c40">
    <p class="p2 f1"><a th:href="@{del_article.html/{id}(id=${articleid4})}">删除文章</a></p>
  </div>
</div>
<div>
  <div class="v3 ps42 s48 c50">
    <p class="p3"  th:text="${articletitle5}"><span class="f8">
    <a >文章标题</a></span></p>
  </div>
  <div class="v3 ps43 s48 c3">
    <div class="v3 ps4 s49 c51">
      <p class="p1 f9" th:text="${authorname5}">作者</p>
    </div>
  </div>
  <div class="v3 ps10 s10 c40">
    <p class="p2 f1"><a th:href="@{del_article.html/{id}(id=${articleid5})}">删除文章</a></p>
  </div>
</div>
</body>
</html>