<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="v3 ps61 s68 c69">
  <form method="POST" action="/admin.html/" class="v3 ps62 s68">
    <div class="v3 ps4 s69 c3">
      <input type="text" placeholder="标题" name="title" required class="input1">
    </div>
    <div class="v3 ps63 s70 c3">
      <input type="text" placeholder="标签" name="tag" required class="input2">
    </div>
    <div class="v3 ps4 s69 c3">
      <input type="text" placeholder="摘要" name="brief" required class="input3">
    </div>
    <div class="v3 ps63 s70 c3">
      <input type="text" placeholder="正文" name="content" required class="input4">
    </div>
    <div class="v3 ps64 s71 c3">
      <input type="submit" value="提交" name="" class="un83 s72 submit1">
    </div>
  </form>
</div>
</body>
</html>